:root {
  --green: #00c200;
  --amber: #ff7e00;
  --red: #d62631;
  --azure: #5388b4;
  --gray: #535353;
  --lightgray: #747474;
  --button-text: #d3d3d3;
  --background: #2f2f3a;
  --secondary-background: #3c5064;
  background: var(--background);
  color: white;
  text-decoration: none;
}

button { 
    font-family: 'Source Code Pro', monospace;
}

.text {
  font-size: 30px;
}

.ecamheader {
  font-size: 30px;
}

.warningdiv {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  border-color: var(--amber);
}

.ecamdivider {
  border-top: 1px solid lightgray;
}

/*  ECAM Actions  */
.actionsdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alert {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
}

.green {
  color: var(--green);
  border-color: var(--green);
}

.amber {
  color: var(--amber);
  border-color: var(--amber);
}

.red {
  color: var(--red);
  border-color: var(--red);
}

.action {
  color: var(--azure);
  margin-left: 20px;
}

.actiontext {
  color: white;
  margin-left: 30px;
}

/*   A350 Style Question   */
.questionmark {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  background-color: var(--secondary-background);
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  font-weight: 300;
  margin-top: 0px;
  position: relative;
  left: -30px;
}

.questiondiv {
  border-left-width: 1px;
  border-left-style: solid;
  display: flex;
  flex-direction: column;
  border-color: white;
  margin-top: 30px;
}

.questiontext {
  margin-top: -72px;
  margin-left: 40px;
  font-size: 29px;
}

.a350form {
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.a350formlabel {
  font-size: 29px;
  margin-right: 30px;
  margin-left: 10px;
}

/*  MCDU UI Elements  */
.button {
  background-color: var(--gray);
  color: var(--button-text);
  text-decoration: none;
  display: flex;
  justify-content: center;
  min-width: 200px;
  border-width: 0.5px;
  border-color: var(--button-text);
  border-style: solid;
  font-size: 25px;
  outline: none;
}

.dropdownbutton {
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--lightgray);
  min-width: 189px;
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
  border-top-width: 0px;
}

.dropdown-content a {
  color: var(--button-text);
  text-decoration: none;
  display: block;
}

.dropdown:hover {
    border-bottom-width: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add this to HTML
    <div class="dropdown">
        <button class="button dropdownbutton">DROPDOWN <i class="fa fa-sort-desc"></i></button>
        <div class="button dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
    </div>
*/
