html {
    background: var(--background);
    padding: 30px 0px 30px 0px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 870px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 870px;
}

body {
    width: 870px;
}

footer p {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.headerrightdiv {
    position: relative;
    top: 40px;
}

.websiteheader {
    color: white;
    font-size: 50px;
}

.alert {
    font-size: 30px;
}

.bigalert {
    margin-top: 50px;
    margin-bottom: -20px;
}

.ecamscreen {
    background-color: rgb(19, 19, 19);
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 100px;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    cursor: url("cursor.png") 25 35, auto;
}

.ecamheader {
    font-size: 40px;
    margin-top: 70px;
}

.secondaryheader {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

.small {
    font-size: 20px;
    margin-bottom: -22px;
}

.ecamdivider {
    width: 800px;
    margin-top: 70px;
}

.dropdownbutton {
    margin-top: 30px;
}

.showcasediv {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.icon {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.textstyles {
    display: flex;
    flex-direction: row;
}

.showcase {
    margin-left: 10px;
    margin-right: 10px;
}

.textinput {
    font-size: 20px;
}